{#
/**
 * @file
 * Default theme implementation for AGO insta block
 *
 * Available variables:
 * - data_source: Source of the instagram feed.
 * @see template_preprocess_ago_insta()
 *
 * @ingroup themeable
 */
#}

<div class="layout-container">
  <div data-is
       data-is-access-token="1774730868.23ef664.04fdab34cddb41d393140ef2019c06f1"
       data-is-popup-info="username, instagramLink, likesCounter, commentsCounter, passedTime, description, comments" data-is-limit="16" data-is-color-gallery-counters="rgb(0, 0, 0)" data-is-color-gallery-description="rgb(0, 0, 0)" data-is-color-gallery-overlay="rgba(237, 237, 237, 0.9)" data-is-color-gallery-arrows="rgb(0, 0, 0)" data-is-color-gallery-arrows-hover="rgb(96, 96, 96)" data-is-color-gallery-arrows-bg="rgb(255, 255, 255)" data-is-color-popup-overlay="rgba(228, 228, 228, 0.9)" data-is-color-popup-username="rgb(0, 0, 0)" data-is-color-popup-username-hover="rgb(96, 96, 96)" data-is-color-popup-instagram-link="rgb(0, 0, 0)" data-is-color-popup-instagram-link-hover="rgb(96, 96, 96)" data-is-color-popup-counters="rgb(68, 68, 68)" data-is-color-popup-anchor="rgb(0, 0, 0)" data-is-color-popup-anchor-hover="rgb(96, 96, 96)" data-is-color-popup-text="rgb(68, 68, 68)" data-is-color-popup-controls="rgb(0, 0, 0)" data-is-color-popup-controls-hover="rgb(68, 68, 68)" data-is-color-popup-mobile-controls="rgb(0, 0, 0)">
  </div>
  <div class="social-links-wrapper">
    <a href="https://www.instagram.com/ago_events/"><em class="fab fa-instagram"><span class="element-invisible">instagram</span></em><span class="social-link-text">@AGO_EVENTS</span></a>
    <a href="https://twitter.com/AGOeventsteam/"><em class="fab fa-twitter"><span class="element-invisible">twitter</span></em><span class="social-link-text">@AGOEventsTeam</span></a>
    <a href="https://youtube.com/user/ArtGalleryofOntario"><em class="fab fa-youtube"><span class="element-invisible">youtube</span></em><span class="social-link-text">WATCH EVENT VIDEOS</span></a>
  </div>
</div>
