/* global title style  */

h1 {
 @include heading-1;
 a {text-decoration: none;}
}

h1.banner-text {
  font-weight: $normal;
  font-size: ms(20);
  line-height: normal;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  letter-spacing: 1px;
  font-family: $font-set-3;
  @include breakpoint ($small-screen) {
    font-size: ms(13);
  }
  @include breakpoint ($medium-screen) {
    font-size: ms(20);

  }
}

h1.exhibition-title {
  font-family: $font-set-3;
  font-size: ms(15);
  @include breakpoint ($small-screen) {
    font-size: ms(9);
  }
  @include breakpoint ($medium-screen) {
    font-size: ms(15);
  }
}

h1.page-title{
  margin-bottom: 10px;
}

h1.field-content {
  margin-bottom: ms(-5);
}

.block-page-title-block {
  padding-bottom: ms(1);
  padding-top: 2.25em;

  .page-title {
    text-transform: uppercase;
  }
}

#page-content-prefix{
  padding-top: 20px;
}

h2 {
   @include heading-2;
}

h3 {
  @include heading-3;
}

.fake-h3 {
  @include heading-3;
}

h3.course {
  font-family: $font-set-2;
  font-weight: $medium;
  font-size: ms(2);
  margin-bottom: 0.4em;
}

h4{
  @include nimbus-bold-reg;
  font-size: ms(1);
  margin-bottom: ms(-3);
  @include breakpoint($narrow-screen) {
    font-size: ms(1);
  }
  line-height: 1.6em;
}

h5{
  font-weight: $bold;
  margin-bottom: 0;
}

h6{
  font-size: ms(-1);
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: $bold;
}

.filter-view-category {
  font-family: $font-set-2;
  text-transform: uppercase;
  font-size: ms(3);
  letter-spacing: 1px;
}

.filter-view-subtext {
  font-family: $font-set-2;
  text-transform: capitalize;
  font-size: .9em;
}

.hide-hours-title .agoc-hours-title {
  display:none;
}

.no-title {
  .block-page-title-block, .block-field-blocknodecollection-pagetitle {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.hide-title {
  h3 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
