{#
/**
 * @file
 * Default theme implementation to display ago whats on calendar.
 *
 *
 * @see template_preprocess_ago_whats_on_calendar_block().
 * @ingroup themeable
 */
#}

<div>
<a class="calendar-btn" href="/events/calendar">Calendar</a>
<a class="browse-btn activeBtn" href="/events/browse">Browse</a></div>
</div>
