// +++ Theming the Homepage view blocks

.path-frontpage {
  #dagstop_wrapper {
    position: relative;
    max-width: 1188px;
    margin: 0 auto;
    padding: 2em 1.26562em 0;
    @include breakpoint($wxga-screen) {
      padding: 1.6em 0 0;
    }
  }

  .region--dags-top {
    .hidden {
      position: absolute !important;
      top: -9999px !important;
      left: -9999px !important;
    }
    position: relative;
    max-width: $wide-screen;
    margin: 0 auto;
    padding: 0 ms(2);
    @include clearfix;
    @include breakpoint($medium-screen) {
      padding: 0 ms(2);
    }
    @include breakpoint ($wide-screen) {
      padding: 0 ms(-1);
    }
    // Homepage featured block
    .block-views-blockhomepage-block-homepage-featured {
      // clear: none !important;
      float: left;
      width: 100%;
      margin-right: 2em;
      margin-bottom: 2em;
      padding-bottom: 2em;
      border-bottom: 1px solid $almostblack;
      @include breakpoint ($weird-screen) {
        width: calc(60% - 2em);
        padding-bottom: 0;
        border-bottom: 0;
        margin-bottom: 1em;
      }

      h1 {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }

      h2 {
        font-size: 3.65324em;
        font-family: $font-set-3;
        margin-bottom: 10px;
        margin-top: 20px;
        line-height: 1em;

        a {
          background-color: transparent !important;
          border: none !important;
          color: $almostblack !important;
          text-transform: none !important;
          letter-spacing: normal !important;
          padding: 0 !important;
          font-size: inherit !important;
          font-family: $font-set-3 !important;
          text-decoration: none;
        }
      }

      .views-field-field-image,
      .views-field-field-main-image {
        @include breakpoint($weird-screen) {
          background-color: $almostwhite;
        }

        a {
          display: block !important;
          border: 0 !important;
          background-color: transparent !important;
          padding: 0 !important;
        }

        .field--name-field-managed-image {
          @include breakpoint ($weird-screen) {
            position: relative;
            background: $light-grey;
            height: 244px;
          }
          @include breakpoint ($standard-screen) {
            height: 460px;
          }
          @include breakpoint (max-width $small-screen) {
            text-align: center;
          }

          img {
            width: 100%;
            height: auto;
            @include breakpoint ($weird-screen) {
              margin: auto;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              max-height: 100%;
              max-width: 100%;
              width: auto;
              display: block;
            }
          }
        }
      }

      .field-content.intro {
        p,
        span {
          line-height: 1.4em;
          margin-bottom: 0.5em;
          font-family: $font-set-4;
        }
      }
    }
    // Homepage What's on
    .block-views-blockhomepage-block-homepage-today {
      clear: none !important;
      float: left;
      width: 100%;
      margin-bottom: 1.5em;
      padding-bottom: 2em;
      border-bottom: 1px solid $almostblack;
      @include breakpoint ($weird-screen) {
        width: calc(40% - 2em);
        margin-left: 2em;
        margin-bottom: 3em;
        padding-bottom: 0;
        border-bottom: 0;
      }

      h2 {
        line-height: 0.7em;
        text-transform: uppercase;
      }

      h3 {
        margin: 20px 0 0.25em;
        line-height: 1.2em;

        a {
          background-color: transparent !important;
          border: none !important;
          color: $almostblack !important;
          text-transform: none !important;
          letter-spacing: normal !important;
          padding: 0 !important;
          font-size: inherit !important;
          font-family: $font-set-1 !important;
          text-decoration: none;
        }
      }

      p {
        line-height: 1.4em;
        font-family: $font-set-2;
      }

      .views-field-field-image,
      .views-field-field-main-image {
        a {
          display: block !important;
          border: 0 !important;
          background-color: transparent !important;
          padding: 0 !important;
        }
      }

      .field--name-field-managed-image {
        @include breakpoint ($weird-screen) {
          position: relative;
          background: $light-grey;
          height: 244px;
        }
        @include breakpoint ($standard-screen) {
          height: 240px;
        }
        @include breakpoint (max-width $small-screen) {
          text-align: center;
        }

        img {
          width: 100%;
          @include breakpoint ($weird-screen) {
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            max-height: 100%;
            max-width: 100%;
            height: auto;
            width: auto;
            display: block;
          }
        }
      }
    }

    .block-views-blockhomepage-block-homepage-featured,
    .block-views-blockhomepage-block-homepage-today {
      .field-content {
        a {
          color: $almostblack;
          font-family: $font-set-1;
          font-size: 1.26562em;
          display: inline-block;
        }
      }
    }
    //Art News
    #block-block-homepage-art-news {
      float: left;
      width: 100%;
      margin-bottom: 2em;
      padding-bottom: 1em;
      border-bottom: 1px solid $almostblack;
      @include breakpoint ($weird-screen) {
        width: calc(40% - 2em);
        margin-left: 2em;
        margin-bottom: 1em;
        padding-bottom: 0;
        border-bottom: 0;
      }

      h2 {
        text-transform: uppercase;
        margin-bottom: 0.55493em;
      }

      .field__item {
        margin-bottom: 1em;
      }

      p {
        line-height: 1.3em;
        font-size: 0.9em;
      }

      a {
        font-family: $font-set-2;
        color: $red;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          text-decoration: none;
        }
      }
    }
    //Homepage grid
    .block-views-blockhomepage-block-homepage-grid-one {
      clear: both;
      @include breakpoint($weird-screen) {
        max-width: 50%;
      }
      @include breakpoint($standard-screen) {
        max-width: 25%;
      }
    }

    .block-views-blockhomepage-block-homepage-grid-four,
    .block-views-blockhomepage-block-homepage-grid-three,
    .block-views-blockhomepage-block-homepage-grid-two {
      clear: unset !important;
    }

    .block-views-blockhomepage-block-homepage-grid-four,
    .block-views-blockhomepage-block-homepage-grid-one,
    .block-views-blockhomepage-block-homepage-grid-three,
    .block-views-blockhomepage-block-homepage-grid-two {
      float: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 2em;
      padding-bottom: 1em;
      border-bottom: 1px solid $almostblack;
      @include breakpoint($weird-screen) {
        width: calc(50% - 1em);
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
      }
      @include breakpoint($standard-screen) {
        width: 23.40426%;
      }

      & div:nth-of-type(2) {
        height: 100%;
        display: block;
      }

      h2 {
        text-transform: uppercase;

        a {
          text-decoration: none;
        }
      }

      .view-homepage {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .views-field-field-image,
      .views-field-field-main-image {
        .field--name-field-managed-image {
          @include breakpoint($weird-screen) {
            position: relative;
            background: $light-grey;
            height: 232px;
          }
          @include breakpoint ($wide-screen) {
            height: 250px;
          }
          @include breakpoint (max-width $small-screen) {
            text-align: center;
          }

          img {
            @include breakpoint($weird-screen) {
              margin: auto;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              max-height: 100%;
              max-width: 100%;
              display: block;
            }
          }
        }
      }

      .views-field-title {
        h3 {
          padding: 10px 0 5px;
          margin-bottom: 0;
          transition: color 0.3s ease-out;

          &:hover {
            color: $red;
          }

          a {
            text-decoration: none;
          }
        }
      }

      .more-link {
        text-align: left;
        padding-top: 0.5em;

        a {
          @include btn-black;
          font-size: 1.26562em;
          display: inline-block;

          &::after {
            display: none;
          }
        }
      }
    }

    .block-views-blockhomepage-block-homepage-grid-one,
    .block-views-blockhomepage-block-homepage-grid-three {
      margin-right: 1em;
    }

    .block-views-blockhomepage-block-homepage-grid-one,
    .block-views-blockhomepage-block-homepage-grid-three,
    .block-views-blockhomepage-block-homepage-grid-two {
      @include breakpoint($standard-screen) {
        margin-right: 2.12766%;
      }
    }
  }
}
