{#
/**
 * @file
 * Default template to display menu toggle.
 */
#}

<div class="mobile-menu-toggle">
  <a href="#mobile-off-canvas">
    <span class="icon"></span>
    <span class="label">Menu</span>
  </a>
</div>
