<div class="compare-toolbox-wrapper">
<div>
<h3 class="compare-heading">Compare Objects</h3>

<p>Click on the object to remove.<br />
Maximum of four objects.</p>
</div>

<div class="compare-toggle"><a class="compare-btn" href="#">Compare Objects</a></div>

<div class="compare-objects">
<p>&nbsp;</p>
</div>
</div>
